@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Colors */

    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-50: hsl(330, 100%, 98%);
    --Rose-800: hsl(332, 51%, 32%);

    /* Fonts */

    --Young-Serif: "Young Serif", serif;
    --Outfit: "Outfit", sans-serif;

}

body {
    background-color: var(--Stone-100);
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 736px;
    min-height: 375px;
    background-color: var(--White);
}

.omelette {
    display: flex;
    justify-content: center;
}

.omelette-img {
    width: 100%;
    min-width: 375px;
    max-width: 656px;
    max-height: 300px;
}

.article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 40px 32px;
}

/* Header */

.section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section--header .section__title {
    font-family: var(--Young-Serif);
    font-size: 36px;
    font-weight: 400;
    color: var(--Stone-900);
    line-height: 2.3rem;
}

.section__description {
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
    color: var(--Stone-600);
    line-height: 1.5rem;
}

/* Preparation Section */

.section--preparation {
    width: 311px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background-color: var(--Rose-50);
    border-radius: 12px;
}

.section--preparation .section__title {
    font-family: var(--Outfit);
    font-size: 20px;
    font-weight: 600;
    color: var(--Rose-800);
}

.section--preparation .section-list__item {
    line-height: 1.3rem;
}

.section--preparation .section-list__item::marker {
    font-size: 10px;
    color: var(--Rose-800);
}

.section--preparation .section-list__item--modified {
    padding-left: 16px;
}

/* Ingredients Section */

.section__title {
    font-size: 28px;
    font-family: var(--Young-Serif);
    font-weight: 400;
    color: var(--Brown-800);
}

.section-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 18px;
}

.section-list__item {
    font-family: var(--Outfit);
    font-weight: 400;
    font-size: 16px;
    color: var(--Stone-600);
    line-height: 1.5rem;
}

.section-list__item::marker {
    font-size: 12px;
    color: var(--Brown-800);
}

.section-list__item--modified {
    padding-left: 24px;
    display: block;
}

.separation-line {
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--Stone-150);
}

/* Instructions Section */

.section--instructions .section-list {
    padding-left: 24px;
}

.section--instructions .section-list__item::marker {
    font-size: 16px;
    font-weight: 600;
}

.section--instructions .section-list__item--modified {
    padding-left: 16px;
}

/* Nutrition Section */

.section--nutrition .section__description {
    line-height: 1.4rem;
}

.table {
    font-family: var(--Outfit);
    font-weight: 400;
    font-size: 16px;
    color: var(--Stone-600);
    line-height: 1.4rem;
}

.column {
    border-bottom: 1.5px solid var(--Stone-150);
    padding: 12px 0;
}

.table__fourth-row .column {
    border: none;
}

.table__first-column {
    width: 50%;
    padding-left: 28px;
}

.table__second-column {
    width: 50%;
    padding-left: 10px;
    color: var(--Brown-800);
    font-weight: 700;
}

@media (min-width: 736px) {

    .main-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 100px;
        padding: 40px;
        border-radius: 24px;
    }

    .omelette-img {
        border-radius: 12px;
        margin: auto;
    }

    .article-container {
        padding: 0;
    }

    .section--header .section__title {
        font-size: 40px;
    }

    .section--preparation {
        width: 656px;
        padding: 28px;
    }

    .section--ingredients {
        width: 100%;
    }

    .section {
        width: 100%;
    }

}